# ----- C++ GITIGNORE
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!external/AWS/**

# Executables
*.exe
*.out
*.app

# ----- CMAKE GITIGNORE
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# ----- WOSLER GITIGNORE
build/

# ignore vs code configs
.vscode/

#ignore mac os stuff
.DS_store

# log files
*.txt
!dependencies*.txt
!CMakeLists.txt

# AWS temp files
kvsFile*
*.mkv
.SignalingCache*